@model AccountCreationModel
<main class="flex-shrink-0">
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                    </div>
                    <h1 class="fw-bolder">Join us!</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form asp-controller="Account" asp-action="Signup" method="post">
                            <div class="form-floating mb-3">
                                <input asp-for="FullName" autocomplete="off" class="form-control" placeholder="Enter your name..." />
                                <label for="name">Full name</label>
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Email" autocomplete="off" class="form-control" placeholder="name@example.com" />
                                <label for="email">Email address</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Password" autocomplete="off" type="password" class="form-control" placeholder="Password" />
                                <label for="phone">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="ConfirmPassword" autocomplete="off" type="password" class="form-control" placeholder="Confirm Password" />
                                <label for="phone">Confirm Password</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="d-grid"><button class="btn btn-danger btn-lg" id="submitButton"
                                    type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}