<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Our Credit cards</h1>
            </div>
            <div class="row gx-5 text-center">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <p class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Cashback</p>
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d"
                            alt="..." />
                    </div>
                    <a class="px-5 py-2 bg-danger fw-lighter text-dark text-decoration-none" href="@Url.Action("ApplyCredit", "Account")">Apply now!</a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative">
                        <p class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Rewards</p>
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d"
                            alt="..." />
                    </div>
                    <a class="px-5 py-2 bg-danger fw-lighter text-dark text-decoration-none" href="@Url.Action("ApplyCredit", "Account")">Apply now!</a>
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="position-relative mb-lg-0">
                        <p class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Business</p>
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d"
                            alt="..." />
                    </div>
                    <a class="px-5 py-2 bg-danger fw-lighter text-dark text-decoration-none" href="@Url.Action("ApplyCredit", "Account")">Apply now!</a>
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="position-relative mb-lg-0">
                        <p class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Travel</p>
                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d"
                             alt="..." />
                    </div>
                    <a class="px-5 py-2 bg-danger fw-lighter text-dark text-decoration-none" href="@Url.Action("ApplyCredit", "Account")">Apply now!</a>
                </div>
            </div>
        </div>
    </section>
</main>