@{
    ViewData["Title"] = "GD Personal Banking";
}

<style>
    #home-container {
        max-width: 1600px;
        height: 350px;
    }

    #intro {
        max-width: 1200px;
    }

    #logo {
        height: 280px;
    }
</style>

<div class="container d-flex justify-content-center" id="home-container">
    <div class="row" id="intro">
        <div class="d-inline-flex flex-column mt-5 col-3 text-center" id="intro-account">
            <h3 class="text-danger pt-4">Personal Banking</h3>
            <a class="text-center text-decoration-none mt-4 border border-danger bg-danger text-white h5 p-2"
                asp-action="Login">Login</a>
            <a class="text-center text-decoration-none mt-2 text-danger h5 p-2" href="Signup">Signup ></a>
        </div>
        <div class="col-3"></div>
        <div class="col-3" id="intro-bg">
            <img id="logo" src="https://i.ibb.co/w0JdfHj/q.png" />
        </div>
        <div>
            <p class="text-danger display-4">Ready to kickstart your financial independance? Join GDBank for financial
                tips, perks
                and rewards.</p>
        </div>
    </div>
</div>
