@{
    ViewData["Title"] = "Login";
}

<div id="card">
    <h2 class="display-8 text-danger pt-4">Personal Banking</h2>
    <div class="d-inline-flex flex-column">
        <a class="text-center text-decoration-none mt-4 border border-danger bg-danger text-white h5 p-2"
            href="Login">Login</a>
        <a class="text-decoration-none mt-2 text-danger h5 p-2" href="Signup">Signup ></a>
    </div>
</div>
